.navbar-brand{
    color: white;
}
.ct-axis-title {
    font-size: 14px;
}

.ct-label {
    font-size: 12px;
}

.ct-bar-label{
    font-size: 10px;
    fill: white;
}

.ct-chart .ct-bar {
    stroke-width: 20px;
}

.ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke: #a20000;
}

.ct-series-b .ct-bar {
    /* Colour of your bars */
    stroke: #233ec5;
}

#main {
    padding-top: 80px;
    max-width: 1200px;
}